.root {
}

.title {
    color: green;
    margin: 20px 0px 20px 0px;
}

.carousel {
    margin-top: 20px;
    border: 5px solid blue;
    background-color: blue;
}

.image {
    width: 300px;
    margin-left: 20px;
    border: 5px solid blue;
    display: inline-block;
}

.content {
    display: flex;
    justify-content: space-between;
}

.imageCarousel {
    width: 100%;
    object-fit: cover;
}

.list {
    margin: 20px 0px 20px 0px;
    padding: 0;
    list-style: none;
}

.listItem {
}

.listContainer {
    display: flex;
}

.listItemKey {
    width: 150px;
    flex-shrink: 0;
}

.listItemValue {
}

.wrapper {
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .listItemKey {
        width: 100px;
        margin-right: 20px;
    }
    .content {
        flex-direction: column;
    }
    .image {
        margin-left: 0;
        margin-top: 20px;
    }
}
